In [1]:
import iris
import names
import numpy as np
from datetime import datetime, timedelta
import mysql.connector
import oracledb
import random

In [2]:
connection_string = "13.40.154.132:51774/TEST"
username = "superuser"
password = "SYS"

connectionIRIS = iris.connect(connection_string, username, password)
cursorIRIS = connectionIRIS.cursor()
print("Connected")

Connected

In [15]:
connectionMySQL = mysql.connector.connect(
  host="13.40.154.132",
  user="testuser",
  password="testpassword"
)
cursorMySQL = connectionMySQL.cursor()
print("Connected")

Connected

In [4]:
connectionOracle = oracledb.connect(
    user="testuser",
    password="testpassword",
    dsn="13.40.154.132/testPDB")

cursorOracle = connectionOracle.cursor()
print("Connected")

Connected

In [21]:
nombres = ['Juan', 'María', 'Luis', 'Ana', 'Pedro', 'Lucía', 'Carlos', 'Elena']
apellidos = ['Pérez', 'García', 'López', 'Martínez', 'Gómez', 'Fernández', 'Rodríguez', 'Sánchez']
localidades = ['Madrid', 'Toledo', 'Ciudad Real', 'Albacete', 'Cuenca']
provincias = ['Madrid', 'Toledo', 'Ciudad Real', 'Albacete', 'Cuenca']
modelos_vehiculos = ['Ford Fiesta', 'Toyota Corolla', 'Seat Ibiza', 'Renault Clio', 'Volkswagen Golf']

In [16]:
parameters = []
dni_personas = []
cif_aseguradoras = []

for i in range(1, 101):
    dni = f"{random.randint(1000000, 99999999)}{random.choice('ABCDEFGHIJKLMNOPQRSTUVWXYZ')}"
    dni_personas.append(dni)
    parameter = []
    parameter.append(dni)
    parameter.append(random.choice(nombres))
    parameter.append(f"{random.choice(apellidos)} {random.choice(apellidos)}")
    parameter.append(random.choice(['M', 'F']))
    parameter.append((datetime.now() - timedelta(days=random.randint(18*365, 70*365))).strftime('%Y-%m-%d'))
    parameter.append(f"Calle {random.randint(1, 100)}, {random.choice(localidades)}")
    parameter.append(random.choice(localidades))
    parameter.append(random.choice(provincias))
    parameters.append(parameter)

In [7]:
date_before = datetime.now()
    
cursorOracle.executemany("INSERT INTO PERSONA (DNI, NOMBRE, APELLIDOS, SEXO, FECHA_NACIMIENTO, DIRECCION, LOCALIDAD, PROVINCIA) VALUES (:1,:2,:3,:4,TO_DATE(:5,'YYYY-MM-DD'),:6,:7,:8)", parameters)
connectionOracle.commit()

In [19]:
date_before = datetime.now()

cursorIRIS.executemany("INSERT INTO Test.PERSONA (DNI, NOMBRE, APELLIDOS, SEXO, FECHA_NACIMIENTO, DIRECCION, LOCALIDAD, PROVINCIA) VALUES (?,?,?,?,TO_DATE(?,'YYYY-MM-DD'),?,?,?)", parameters)
connectionIRIS.commit()
difference = datetime.now() - date_before
print(difference.total_seconds())

0.045822

In [17]:
date_before = datetime.now()
    
cursorMySQL.executemany("INSERT INTO test.PERSONA (DNI, NOMBRE, APELLIDOS, SEXO, FECHA_NACIMIENTO, DIRECCION, LOCALIDAD, PROVINCIA) VALUES (%s,%s,%s,%s,%s,%s,%s,%s)", parameters)
connectionMySQL.commit()
difference = datetime.now() - date_before
print(difference.total_seconds())

0.049981

NameError: name 'resultsMySQL' is not defined

In [25]:
parameters = []
for i in range(1, 6):
    parameter = []
    cif = f"A{random.randint(10000000, 99999999)}"
    cif_aseguradoras.append(cif)
    parameter.append(cif)
    parameter.append(f"Aseguradora {i}")
    parameter.append(f"Avenida Central, {random.randint(1, 100)}")
    parameter.append(random.choice(localidades))
    parameter.append(random.choice(provincias))
    parameters.append(parameter)

In [26]:
date_before = datetime.now()
    
cursorOracle.executemany("INSERT INTO ASEGURADORA (CIF, NOMBRE, DIRECCION_SEDE, LOCALIDAD, PROVINCIA) VALUES (:1,:2,:3,:4,:5)", parameters)
connectionOracle.commit()

In [27]:
date_before = datetime.now()
    
cursorIRIS.executemany("INSERT INTO Test.ASEGURADORA (CIF, NOMBRE, DIRECCION_SEDE, LOCALIDAD, PROVINCIA) VALUES (?,?,?,?,?)", parameters)
connectionOracle.commit()

In [28]:
date_before = datetime.now()
    
cursorMySQL.executemany("INSERT INTO test.ASEGURADORA (CIF, NOMBRE, DIRECCION_SEDE, LOCALIDAD, PROVINCIA) VALUES (%s,%s,%s,%s,%s)", parameters)
connectionOracle.commit()

In [34]:
parameters = []
for i in range(1, 101):
    parameter = []
    parameter.append(f"VH{random.randint(100000000000000, 999999999999999)}")
    parameter.append(random.choice(dni_personas))
    parameter.append(round(random.uniform(1000, 2000), 2))
    parameter.append(random.choice(['S', 'N']))
    parameter.append(random.choice(modelos_vehiculos))
    parameter.append(f"{random.randint(1000, 9999)}{random.choice('ABCDEFGHIJKLMNOPQRSTUVWXYZ')}{random.choice('ABCDEFGHIJKLMNOPQRSTUVWXYZ')}{random.choice('ABCDEFGHIJKLMNOPQRSTUVWXYZ')}")
    parameter.append(random.choice(['S', 'N']))
    parameter.append(random.choice(cif_aseguradoras))
    parameters.append(parameter)

In [35]:
date_before = datetime.now()
    
cursorOracle.executemany("INSERT INTO VEHICULO (NUMERO_BASTIDOR, DNI_PROPIETARIO, PESO, ITV_EN_VIGOR, MODELO, MATRICULA, SEGURO_EN_VIGOR, CIF_ASEGURADORA) VALUES (:1,:2,:3,:4,:5,:6,:7,:8)", parameters)
connectionOracle.commit()

IntegrityError: ORA-02291: integrity constraint (TESTUSER.SYS_C008230) violated - parent key not found
Help: https://docs.oracle.com/error-help/db/ora-02291/

In [27]:
date_before = datetime.now()
    
cursorIRIS.executemany("INSERT INTO Test.VEHICULO (NUMERO_BASTIDOR, DNI_PROPIETARIO, PESO, ITV_EN_VIGOR, MODELO, MATRICULA, SEGURO_EN_VIGOR, CIF_ASEGURADORA) VALUES (?,?,?,?,?,?,?,?)", parameters)
connectionIRIS.commit()

In [28]:
date_before = datetime.now()
    
cursorMySQL.executemany("INSERT INTO test.VEHICULO (NUMERO_BASTIDOR, DNI_PROPIETARIO, PESO, ITV_EN_VIGOR, MODELO, MATRICULA, SEGURO_EN_VIGOR, CIF_ASEGURADORA) VALUES (%s,%s,%s,%s,%s,%s,%s,%s)", parameters)
connectionMySQL.commit()

In [36]:
cursorIRIS.execute("TRUNCATE TABLE Test.VEHICULO")
cursorIRIS.execute("TRUNCATE TABLE Test.ASEGURADORA")
cursorIRIS.execute("TRUNCATE TABLE Test.PERSONA")
connectionIRIS.commit()

In [38]:
cursorOracle.execute("TRUNCATE TABLE VEHICULO")
cursorOracle.execute("TRUNCATE TABLE ASEGURADORA")
cursorOracle.execute("TRUNCATE TABLE PERSONA")
connectionOracle.commit()

In [41]:
cursorMySQL.execute("TRUNCATE TABLE test.VEHICULO")
cursorMySQL.execute("DELETE FROM test.ASEGURADORA")
cursorMySQL.execute("DELETE FROM test.PERSONA")
connectionMySQL.commit()

In [26]:
connectionIRIS.close()
connectionMySQL.close()
connectionOracle.close()