In [1]:
import iris
import names
import numpy as np
from datetime import datetime, timedelta
import mysql.connector
import oracledb
import random

In [2]:
connection_string = "iris:1972/TEST"
username = "superuser"
password = "SYS"

connectionIRIS = iris.connect(connection_string, username, password)
cursorIRIS = connectionIRIS.cursor()
print("Connected")

Connected

In [3]:
connectionMySQL = mysql.connector.connect(
  host="mysql",
  user="testuser",
  password="testpassword"
)
cursorMySQL = connectionMySQL.cursor()
print("Connected")

Connected

In [4]:
connectionOracle = oracledb.connect(
    user="testuser",
    password="testpassword",
    dsn="oracle/testPDB")

cursorOracle = connectionOracle.cursor()
print("Connected")

Connected

In [5]:
nombres = ['Juan', 'María', 'Luis', 'Ana', 'Pedro', 'Lucía', 'Carlos', 'Elena']
apellidos = ['Pérez', 'García', 'López', 'Martínez', 'Gómez', 'Fernández', 'Rodríguez', 'Sánchez']
localidades = ['Madrid', 'Toledo', 'Ciudad Real', 'Albacete', 'Cuenca']
provincias = ['Madrid', 'Toledo', 'Ciudad Real', 'Albacete', 'Cuenca']
modelos_vehiculos = ['Ford Fiesta', 'Toyota Corolla', 'Seat Ibiza', 'Renault Clio', 'Volkswagen Golf']

In [6]:
parameters = []
dni_personas = []
cif_aseguradoras = []

for i in range(1, 101):
    dni = f"{random.randint(1000000, 99999999)}{random.choice('ABCDEFGHIJKLMNOPQRSTUVWXYZ')}"
    dni_personas.append(dni)
    parameter = []
    parameter.append(dni)
    parameter.append(random.choice(nombres))
    parameter.append(f"{random.choice(apellidos)} {random.choice(apellidos)}")
    parameter.append(random.choice(['M', 'F']))
    parameter.append((datetime.now() - timedelta(days=random.randint(18*365, 70*365))).strftime('%Y-%m-%d'))
    parameter.append(f"Calle {random.randint(1, 100)}, {random.choice(localidades)}")
    parameter.append(random.choice(localidades))
    parameter.append(random.choice(provincias))
    parameters.append(parameter)

In [7]:
date_before = datetime.now()
    
cursorOracle.executemany("INSERT INTO PERSONA (DNI, NOMBRE, APELLIDOS, SEXO, FECHA_NACIMIENTO, DIRECCION, LOCALIDAD, PROVINCIA) VALUES (:1,:2,:3,:4,TO_DATE(:5,'YYYY-MM-DD'),:6,:7,:8)", parameters)
connectionOracle.commit()

In [8]:
date_before = datetime.now()

cursorIRIS.executemany("INSERT INTO Test.Patient (Name, Lastname, Photo, Phone, Address) VALUES (?, ?, ?, ?, ?)", parameters)
connectionIRIS.commit()
difference = datetime.now() - date_before
print(difference.total_seconds())
resultsIRIS.append(difference.total_seconds())

0.048754

In [10]:
date_before = datetime.now()
    
cursorMySQL.executemany("INSERT INTO test.patient (name, lastname, photo, phone, address) VALUES (%s,%s,%s,%s,%s)", parameters)
connectionMySQL.commit()
difference = datetime.now() - date_before
print(difference.total_seconds())
resultsMySQL.append(difference.total_seconds())

0.040205

In [26]:
connectionIRIS.close()
connectionMySQL.close()
connectionOracle.close()